.app-login-section {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .app-login-card {
    position: relative;
    height: fit-content;
    width: 450px;
    padding: 50px;
    background: linear-gradient(180deg, rgba(45, 59, 60, 0.5), rgba(0, 0, 0, 0.3));
    backdrop-filter: blur(5px);
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px;

    h2 {
      text-align: center;
    }

    h3 {
      text-align: center;
      font-weight: 200;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 16px;

      .newUser {
        color: white;
        font-size: 14px;
        cursor: pointer;
        text-align: end;
        opacity: 0.6;
      }
    }

    .app-login-highlight {
      padding: 5px;
      background-color: var(--blue_4);
      color: red;
      border-radius: 20px;
      text-align: center;
    }

    .app-login-server {
      position: absolute;
      right: 10px;
      bottom: 10px;
      font-size: 12px;
      color: white;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 6px;

      .red,
      .green {
        width: 1.6ch;
        height: 1.6ch;
        border-radius: 50%;
      }

      .red {
        background-color: red;
      }

      .green {
        background-color: green;
      }
    }

    .app-login-advisement {
      color: red;
      text-align: center;
      font-weight: bold;
      font-size: 12px;
    }
  }
}