.app-principal-welcome {
  margin: 5px;
  padding: 10px;

  background-color: var(--gray);
  border-radius: 5px;
}

.app-principal-notes {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 10px;
}