.app-layout {
  height: 100%;
  width: 100%;
  padding: 8px;

  display: grid;
  grid-template-columns: max-content auto;
  background-color: transparent;
}

#no_logged,
#logged {
  width: 1ch;
  height: 1ch;

  border-radius: 50%;
}

#no_logged {
  background-color: red;
}

#logged {
  background-color: green;
}

#login_status>* {
  display: inline-block;
}