.app-profile {
  margin: auto;
  max-width: 600px;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--gray);

  .app-profile-contend {
    width: fit-content;
    padding: 10px;
    display: grid;
    grid-template-columns: max-content auto;
    gap: 10px;

    >img {
      height: 180px;
      width: 190px;

      border: 10px solid var(--magenta_1);
      border-radius: 50%;

      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    }

    .app-profile-data {
      width: 100%;
      height: 100%;

      display: grid;
      grid-template-rows: max-content auto max-content;

      :nth-child(3) {
        opacity: 0.1;
      }
    }
  }
}