.app-online {
  width: fit-content;
  height: fit-content;
  padding: 6px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 6px;

  border-radius: 50px;
  background-color: var(--blue_4);

  .app-online-img {
    height: 4ch;
    aspect-ratio: 1/1;

    border: solid 2px var(--blue_3);
    border-radius: 50%;
  }
}