.app-sidePanel {
  height: 100%;
  display: grid;
  grid-template-rows: min-content auto min-content;
  background-color: var(--gray);
  border-radius: 8px;
  padding: 20px;

  nav {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .app-sidePanel-nav {
      display: flex;
      flex-direction: row;
      font-size: 1.1rem;
      gap: 12px;

      p,
      i {
        color: var(--white);
      }
    }
  }
}